:{$PORT} {
	handle_path /yourapp/* {
		reverse_proxy 127.0.0.1:3000 {
			header_up X-Forwarded-Prefix /yourapp
			header_down Location "^/(.*)" "/yourapp/$1"
		}
	}

	handle {
		reverse_proxy 127.0.0.1:8001
	}
}
